<div id="common-tooltip-wrapper"
     class="common-tooltip-EJBD96zX common-tooltip--hidden-EJBD96zX"
     style="width: 139px;">
    <div class="common-tooltip__ear-holder-EJBD96zX common-tooltip__ear-holder--above-EJBD96zX">
        <div class="common-tooltip__body-EJBD96zX js-tooltip-body common-tooltip__body--with-hotkey-EJBD96zX common-tooltip__body--no-buttons-EJBD96zX"
             style="left: 0px; width: 139px;">
            <div class="common-tooltip__hotkey-text-EJBD96zX">{{ title }}</div>
            <div class="common-tooltip__hotkey-block-EJBD96zX common-tooltip__hotkey-block--divider-EJBD96zX"><span
                    class="common-tooltip__hotkey-button-EJBD96zX">Alt</span><span
                    class="common-tooltip__plus-sign-EJBD96zX">+</span><span
                    class="common-tooltip__hotkey-button-EJBD96zX">A</span></div>
        </div>
    </div>
    <div class="common-tooltip__button-container-EJBD96zX" style="left: 0px;"></div>
</div>